html
  head
    style
    script(src="a.js")
    link(href="a.css",ref="stylesheet")
    script alert('aaa')
  body
    div
      ul
        li
          input(type="text",id="txt1",value="abc")
        li
    a(href="http://www.baidu.com/") 百度
    div aaa
      span bbb
    div(style="width:200px;height:200px")
    div(style={width:'200px',height:'200px'})
    div(class="aaa active")
    div(class=['aaa','active'])
    div.box
    div#div1
    div(title="aaa",id="div1")
    div#div1(title="aaa")
    div&attributes({title:'aaa',id:'div1'})